<h1>Listing Articles</h1>
 


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if current_user.admin || current_user.id == article.user_id %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article),
              method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br/>
<h2>Hello, <%= current_user.name %> in Addition To Add New Article</h1>
<h2>
<%= link_to 'New article', new_article_path %>
</h2>
